body{
    background-image: url("desert.jpg");
    background-size: cover;
}

#automata{
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

#uditok{
    background-color: lightskyblue;
    width: 300px;
    height: 700px;
    float: left;
}
#kezelo{
    width: 197px;
    height: 700px;
    background-color: darkgray;
    float: right;
}
#kijelzo{
    position: relative;
    top: 20px;
    width: 80%;
    height: 50px;
    background-color: black;
    margin: auto;

    color: lightgreen;
    line-height: 50px;
    font-size: 24px;
    padding: 0px 10px;
    text-align: right;
}
#gombok{
    width: 80%;
    min-height: 50px;
    background-color: rgb(114, 114, 114);
    margin: auto;
    position: relative;
    top: 40px;
}
#kiado{
    position: relative;
    width: 50%;
    height: 150px;
    background-color: black;
    margin: auto;
    top: 350px;
    overflow: hidden;
}

#kiado img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#gombok button{
    width: calc(100% / 3);
    height: 40px;
}

.udito{
    width: calc(100% / 3);
    overflow: hidden;
    float: left;
}

.udito img {
    width: 100%;
}

.udito h2, .udito h3 {
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

.money{

    line-height: 50px;
    margin: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    float: right;

}